.ballot-list {
    width: 80%;
    min-height: 100px;
    margin: 0 10% 0 10%;
    padding: 10px 0 0 0;
}

.ballot-list-header {
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 10px 0 0 0;
}

.ballot-list-bottom {
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 10px 0 0 0;
}